<div class="conatiner-fluid">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <nav class="nav navbar-default navbar" style="color:whitesmoke">
        <ul class="nav">
          <strong><i>Weather</i></strong>
        </ul>
      </nav>
    </div>
  </div>
  <br><br>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-10 col-sm-10 col-md-12 offset-lg-1 offset-sm-1">
      <div class="card" style="width:17rem;height:20rem;" >
        <a type="button" class="btn btn-danger text-center" style="height:20rem;" (click)="show1()" *ngIf ="!panel1 && !panel1data"></a>
        <div class="card-body border"  *ngIf = "panel1">
          <form [formGroup]="cityform" (ngSubmit)="getData()" class="text-center" style="font-size: large;">
            <div class="form-group">
              <input id="title" type="text" class="form-control"
                formControlName="city" placeholder="Enter city name">
              <br>
              <button class="btns btn-danger" type="submit" style="margin-right: 10px;" [disabled]="!cityform.valid">Get</button>
            </div>
          </form>
         </div>
        <div class="card-body border" *ngIf = "panel1data" style="baclground-image:">
          <p><strong>{{data.name}}</strong>,{{data.sys.country}}</p>
          <div class="card-body"  *ngIf = "!panel1 && defaultdata">
            <h6>Feels_like : {{data.main.feels_like}}</h6>
            <h6>Humidity : {{data.main.humidity}}</h6>
            <h6>Pressure : {{data.main.pressure}}</h6>
            <h6>Max.Temp : {{data.main.temp_max}}</h6>
            <h6>Min.Temp : {{data.main.temp_min}}</h6>
          </div>
         </div>
      </div>
    </div>
  </div>
  <!--div class="row">
    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
      <div class="card" style="width:17rem;height:20rem;">
        <div class="card-body border">
          
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
      <div class="card" style="width:17rem;height:20rem;">
        <div class="card-body border">
          
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
      <div class="card" style="width:17rem;height:20rem;">
        <div class="card-body border">
          
        </div>
      </div>
    </div>
  </div>-->
</div>
