<div class="conatiner-fluid">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
      <nav class="nav navbar-default navbar" style="color:whitesmoke">
        <ul class="nav">
          <strong><i>Weather</i></strong>
        </ul>
      </nav>
    </div>
  </div>
  <br><br>
  <div class="row" *ngIf="error">
    <div class=" alert alert-danger col-sm-6 col-xs-6 col-md-6 col-lg-6 offset-lg-3 offset-md-3">
      <h6>{{error}}</h6>
      <br>
      <button class="btn btn-danger" (click)="ok()">ok</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-10 col-sm-10 col-md-10 offset-lg-1 offset-md-1 offset-sm-1">
      <div class="card" style="width:17rem;height:28rem;" >
        <div class="card-body border" *ngIf="panel1data">
          <h5><strong>{{panel1data.name}},{{panel1data.sys.country}}</strong></h5>
          <div *ngFor="let img of panel1data.weather">
            <div style="display:flex">
              <img [src]=" getSantizeUrl(img.icon)">
              <h5 style="color:white">{{panel1data.main.temp | number: '1.0-0'}}<span>&#176;</span>F</h5>
            </div>
            <h6 style="color:white">{{img.description}}</h6>
          </div>
          <h6>Feels_like : {{panel1data.main.feels_like | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Humidity : {{panel1data.main.humidity}}</h6>
            <h6>Pressure : {{panel1data.main.pressure}}</h6>
            <h6>Max.Temp : {{panel1data.main.temp_max | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Min.Temp : {{panel1data.main.temp_min | number: '1.0-0'}}<span>&#176;</span>F</h6>
        </div>
        <div class="card-body border" *ngIf="defaultdata && !panel1data">
          <h5><strong>{{defaultdata.name}},{{defaultdata.sys.country}}</strong></h5>
          <div *ngFor="let img of defaultdata.weather">
            <div style="display:flex">
              <img [src]=" getSantizeUrl(img.icon)">
              <h5 style="color:white">{{defaultdata.main.temp | number: '1.0-0'}}<span>&#176;</span>F</h5>
            </div>
            <h6 style="color:white">{{img.description}}</h6>
          </div>
          <h6>Feels_like : {{defaultdata.main.feels_like | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Humidity : {{defaultdata.main.humidity}}</h6>
            <h6>Pressure : {{defaultdata.main.pressure}}</h6>
            <h6>Max.Temp : {{defaultdata.main.temp_max | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Min.Temp : {{defaultdata.main.temp_min | number: '1.0-0'}}<span>&#176;</span>F</h6>
        </div>
        <a type="button" class="btn btn-danger text-center" style="height:28rem;" (click)="show1()" *ngIf="!panel1"></a>
        <div class="card-header border"  *ngIf = "panel1">
          <form [formGroup]="cityform" (ngSubmit)="getdefaultData()" class="text-center" style="font-size: large;" *ngIf="!defaultdata">
            <div class="form-group" style="display:flex">
              <input id="title" type="text" class="form-control"
                formControlName="city" placeholder="Enter city name">
              <br>
              <button class="btns btn-danger" type="submit" style="margin-right: 10px;" [disabled]="!cityform.valid">Get</button>
            </div>
          </form>
          <form [formGroup]="cityform" (ngSubmit)="getpanel1Data()" class="text-center" style="font-size: large;" *ngIf="defaultdata">
            <div class="form-group" style="display:flex">
              <input id="title" type="text" class="form-control"
                formControlName="city" placeholder="Enter city name">
              <br>
              <button class="btns btn-danger" type="submit" style="margin-right: 10px;" [disabled]="!cityform.valid">Edit</button>
            </div>
          </form>
         </div>
      </div>
      <div class="card" style="width:17rem;height:28rem;" >
        <div class="card-body border" *ngIf="panel2data">
          <h5><strong>{{panel2data.name}},{{panel2data.sys.country}}</strong></h5>
          <div *ngFor="let img of panel2data.weather">
            <div style="display:flex">
              <img [src]=" getSantizeUrl(img.icon)">
              <h5 style="color:white">{{panel2data.main.temp | number: '1.0-0'}}<span>&#176;</span>F</h5>
            </div>
            <h6 style="color:white">{{img.description}}</h6>
          </div>
          <h6>Feels_like : {{panel2data.main.feels_like | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Humidity : {{panel2data.main.humidity}}</h6>
            <h6>Pressure : {{panel2data.main.pressure}}</h6>
            <h6>Max.Temp : {{panel2data.main.temp_max | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Min.Temp : {{panel2data.main.temp_min | number: '1.0-0'}}<span>&#176;</span>F</h6>
        </div>
        <div class="card-body border" *ngIf="defaultdata && !panel2data">
          <h5><strong>{{defaultdata.name}},{{defaultdata.sys.country}}</strong></h5>
          <div *ngFor="let img of defaultdata.weather">
            <div style="display:flex">
              <img [src]=" getSantizeUrl(img.icon)">
              <h5 style="color:white">{{defaultdata.main.temp | number: '1.0-0'}}<span>&#176;</span>F</h5>
            </div>
            <h6 style="color:white">{{img.description}}</h6>
          </div>
          <h6>Feels_like : {{defaultdata.main.feels_like | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Humidity : {{defaultdata.main.humidity}}</h6>
            <h6>Pressure : {{defaultdata.main.pressure}}</h6>
            <h6>Max.Temp : {{defaultdata.main.temp_max | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Min.Temp : {{defaultdata.main.temp_min | number: '1.0-0'}}<span>&#176;</span>F</h6>
        </div>
        <a type="button" class="btn btn-danger text-center" style="height:28rem;" (click)="show2()" *ngIf="!panel2"></a>
        <div class="card-header border"  *ngIf = "panel2">
          <form [formGroup]="cityform" (ngSubmit)="getdefaultData()" class="text-center" style="font-size: large;" *ngIf="!defaultdata">
            <div class="form-group" style="display:flex">
              <input id="title" type="text" class="form-control"
                formControlName="city" placeholder="Enter city name">
              <br>
              <button class="btns btn-danger" type="submit" style="margin-right: 10px;" [disabled]="!cityform.valid">Get</button>
            </div>
          </form>
          <form [formGroup]="cityform" (ngSubmit)="getpanel2Data()" class="text-center" style="font-size: large;" *ngIf="defaultdata">
            <div class="form-group" style="display:flex">
              <input id="title" type="text" class="form-control"
                formControlName="city" placeholder="Enter city name">
              <br>
              <button class="btns btn-danger" type="submit" style="margin-right: 10px;" [disabled]="!cityform.valid">Edit</button>
            </div>
          </form>
         </div>
      </div>
      <div class="card" style="width:17rem;height:28rem;" >
        <div class="card-body border" *ngIf="panel3data">
          <h5><strong>{{panel3data.name}},{{panel3data.sys.country}}</strong></h5>
         <div *ngFor="let img of panel3data.weather">
            <div style="display:flex">
              <img [src]=" getSantizeUrl(img.icon)">
              <h5 style="color:white">{{panel3data.main.temp | number: '1.0-0'}}<span>&#176;</span>F</h5>
            </div>
            <h6 style="color:white">{{img.description}}</h6>
          </div>
          <h6>Feels_like : {{panel3data.main.feels_like | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Humidity : {{panel3data.main.humidity}}</h6>
            <h6>Pressure : {{panel3data.main.pressure}}</h6>
            <h6>Max.Temp : {{panel3data.main.temp_max | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Min.Temp : {{panel3data.main.temp_min | number: '1.0-0'}}<span>&#176;</span>F</h6>
        </div>
        <div class="card-body border" *ngIf="defaultdata && !panel3data">
          <h5><strong>{{defaultdata.name}},{{defaultdata.sys.country}}</strong></h5>
          <div *ngFor="let img of defaultdata.weather">
            <div style="display:flex">
              <img [src]=" getSantizeUrl(img.icon)">
              <h5 style="color:white">{{defaultdata.main.temp | number: '1.0-0'}}<span>&#176;</span>F</h5>
            </div>
            <h6 style="color:white">{{img.description}}</h6>
          </div>
          <h6>Feels_like : {{defaultdata.main.feels_like | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Humidity : {{defaultdata.main.humidity}}</h6>
            <h6>Pressure : {{defaultdata.main.pressure}}</h6>
            <h6>Max.Temp : {{defaultdata.main.temp_max | number: '1.0-0'}}<span>&#176;</span>F</h6>
            <h6>Min.Temp : {{defaultdata.main.temp_min | number: '1.0-0'}}<span>&#176;</span>F</h6>
        </div>
        <a type="button" class="btn btn-danger text-center" style="height:28rem;" (click)="show3()" *ngIf="!panel3"></a>
        <div class="card-header border"  *ngIf = "panel3">
          <form [formGroup]="cityform" (ngSubmit)="getdefaultData()" class="text-center" style="font-size: large;" *ngIf="!defaultdata">
            <div class="form-group" style="display:flex">
              <input id="title" type="text" class="form-control"
                formControlName="city" placeholder="Enter city name">
              <br>
              <button class="btns btn-danger" type="submit" style="margin-right: 10px;" [disabled]="!cityform.valid">Get</button>
            </div>
          </form>
          <form [formGroup]="cityform" (ngSubmit)="getpanel3Data()" class="text-center" style="font-size: large;" *ngIf="defaultdata">
            <div class="form-group" style="display:flex">
              <input id="title" type="text" class="form-control"
                formControlName="city" placeholder="Enter city name">
              <br>
              <button class="btns btn-danger" type="submit" style="margin-right: 10px;" [disabled]="!cityform.valid">Edit</button>
            </div>
          </form>
         </div>
      </div>
    </div>
  </div>
</div>
